.portfolio {
	display: flex;
	justify-content: flex-start;
	align-items: stretch;
	flex-wrap: wrap;
}
.service {
	padding: 12px;
	margin: 3rem 2rem 0rem 0rem;
	flex-basis: 25rem;
	flex-grow: 1;
	background-color: #191d2b;
	border-top: 5px solid #191b24;
	cursor: pointer;
}

.service:hover {
	border-top: 5px solid #037fff;
	transition: 0.5s ease;
	width: 10px;
}

.portfoliolable {
	color: #f5f5f5;
	padding-bottom: 12px;
}

.portfolioHeaderTitle {
	margin: 4px 0 12px 0px;
}

.portfolioDescription {
	margin: 4px 0 12px 0px;
}

.btn {
	padding: 8px;
	border-radius: 2px;
	text-decoration: none;
}
